Package: enigma2-plugin-extensions-xklass
Version: 0.00-20240611
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: IPTV Xtream Codes/XUI One playlists player by KiddaC
Depends:
Source: https://www.linuxsat-support.com
