<screen name="XKlassSettings" position="0,0" size="3414,1920" backgroundColor="#0c145a" flags="wfNoBorder">
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/xklass/images/background.png" alphatest="off" position="0,0" size="3414,1920" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/logo.png" position="134,107" size="570,214" alphatest="blend" zPosition="1"/>
	<widget source="Title" render="Label" position="160,475" size="854,128" font="xklassregular;86" foregroundColor="#ffffff" backgroundColor="#0c145a" valign="center" halign="left" noWrap="1" transparent="1" zPosition="2"/>
	<widget source="global.CurrentTime" render="Label" position="2454,107" size="800,107" font="xklassregular;48" foregroundColor="#ffffff" backgroundColor="#71354a" valign="center" halign="right" transparent="1" zPosition="2">
		<convert type="ClockToText">Format:%H:%M | %A %-d %b</convert>
	</widget>
	<widget name="config" position="960,475" size="2294,1280" foregroundColor="#ffffff" backgroundColor="#0c145a" foregroundColorSelected="#ffffff" selectionPixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/xklass/images/list-selected-settings-db.png" backgroundPixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/blank.png" backgroundColorSelected="#494f83" itemHeight="128" scrollbarMode="showOnDemand" enableWrapAround="1" transparent="1" zPosition="4"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/divider.png" position="960,600" size="2294,8" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/divider.png" position="960,728" size="2294,8" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/divider.png" position="960,856" size="2294,8" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/divider.png" position="960,984" size="2294,8" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/divider.png" position="960,1112" size="2294,8" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/divider.png" position="960,1240" size="2294,8" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/divider.png" position="960,1368" size="2294,8" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/divider.png" position="960,1496" size="2294,8" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/divider.png" position="960,1624" size="2294,8" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/button-bg.png" position="0,1814" size="3414,107" alphatest="blend" zPosition="1"/>
	<widget source="key_red" render="Pixmap" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/key_red.png" position="896,1834" size="68,68" alphatest="blend" zPosition="2"/>
	<widget source="key_red" render="Label" position="982,1814" size="400,107" font="xklassregular;43" foregroundColor="#ffffff" backgroundColor="#0a3162" valign="center" transparent="1" noWrap="1" zPosition="2"/>
	<widget source="key_green" render="Pixmap" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/key_green.png" position="1382,1834" size="68,68" alphatest="blend" zPosition="2"/>
	<widget source="key_green" render="Label" position="1467,1814" size="400,107" font="xklassregular;43" foregroundColor="#ffffff" backgroundColor="#0a3162" valign="center" transparent="1" noWrap="1" zPosition="2"/>
	<widget name="VKeyIcon" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/key_text.png" position="2835,1834" size="68,68" alphatest="blend" transparent="1" zPosition="2"/>
	<widget name="HelpWindow" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/uhd/common/vkey_icon.png" position="0,0" zPosition="1" size="3414,1920" transparent="1" alphatest="on"/>
</screen>
