<screen name="XKlassSettings" position="0,0" size="853,480" backgroundColor="#0c145a" flags="wfNoBorder">
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/xklass/images/background.png" alphatest="off" position="0,0" size="853,480" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/logo.png" position="33,26" size="142,53" alphatest="blend" zPosition="1"/>
	<widget source="Title" render="Label" position="40,118" size="213,32" font="xklassregular;21" foregroundColor="#ffffff" backgroundColor="#0c145a" valign="center" halign="left" noWrap="1" transparent="1" zPosition="2"/>
	<widget source="global.CurrentTime" render="Label" position="613,26" size="200,26" font="xklassregular;12" foregroundColor="#ffffff" backgroundColor="#71354a" valign="center" halign="right" transparent="1" zPosition="2">
		<convert type="ClockToText">Format:%H:%M | %A %-d %b</convert>
	</widget>
	<widget name="config" position="240,118" size="573,320" foregroundColor="#ffffff" backgroundColor="#0c145a" foregroundColorSelected="#ffffff" selectionPixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/xklass/images/list-selected-settings-db.png" backgroundPixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/blank.png" backgroundColorSelected="#494f83" itemHeight="32" scrollbarMode="showOnDemand" enableWrapAround="1" transparent="1" zPosition="4"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/divider.png" position="240,149" size="573,1" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/divider.png" position="240,181" size="573,1" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/divider.png" position="240,213" size="573,1" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/divider.png" position="240,245" size="573,1" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/divider.png" position="240,277" size="573,1" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/divider.png" position="240,309" size="573,1" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/divider.png" position="240,341" size="573,1" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/divider.png" position="240,373" size="573,1" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/divider.png" position="240,405" size="573,1" alphatest="blend" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/button-bg.png" position="0,453" size="853,26" alphatest="blend" zPosition="1"/>
	<widget source="key_red" render="Pixmap" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/key_red.png" position="224,458" size="16,16" alphatest="blend" zPosition="2"/>
	<widget source="key_red" render="Label" position="245,453" size="100,26" font="xklassregular;10" foregroundColor="#ffffff" backgroundColor="#0a3162" valign="center" transparent="1" noWrap="1" zPosition="2"/>
	<widget source="key_green" render="Pixmap" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/key_green.png" position="345,458" size="16,16" alphatest="blend" zPosition="2"/>
	<widget source="key_green" render="Label" position="366,453" size="100,26" font="xklassregular;10" foregroundColor="#ffffff" backgroundColor="#0a3162" valign="center" transparent="1" noWrap="1" zPosition="2"/>
	<widget name="VKeyIcon" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/key_text.png" position="708,458" size="16,16" alphatest="blend" transparent="1" zPosition="2"/>
	<widget name="HelpWindow" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/XKlass/skin/hd/common/vkey_icon.png" position="0,0" zPosition="1" size="853,480" transparent="1" alphatest="on"/>
</screen>
